.CONTAINER {
  margin: 100px 200px;
  padding: 40px;
  border: 5px dashed red;
  text-align: center;
  
}

.signs {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.HOD,
.PRINCIPAL {
  color: blue;
}
